# dependencies
/node_modules

# build
/dist

# misc
.DS_Store
.env.local
.idea/
.vscode/
coverage/

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

npm-debug.log*
yarn-error.log
